listen tcp-80-ingress-nginx
    mode tcp
    # 默认TCP格式
    # log-format %ci:%cp\ [%t]\ %ft\ %b/%s\ %Tw/%Tc/%Tt\ %B\ %ts\ %ac/%fc/%bc/%sc/%rc\ %sq/%bq
    log-format "HAPROXY-LOG-FORMAT-TCP"--{"client_ip":"%ci","client_port":"%cp","datetime":"%t","frontend_name_transport":"%ft","backend_name":"%b","server_name":"%s","time_wait":"%Tw","time_conn":"%Tc","time_total":"%Tt","server2client_bytes_read":"%B","termination_state":"%ts","action":"%ac","frontend_concurrent_connections":"%fc","backend_concurrent_connections":"%bc","server_concurrent_connections":"%sc","retries":"%rc","srv_queue":"%sq","backend_queue":"%bq"}
    option tcplog
    bind 0.0.0.0:80
    # balance source
    balance roundrobin
    server master01.k8s.freedom.org master01.k8s.freedom.org:32080 check
    server master02.k8s.freedom.org master02.k8s.freedom.org:32080 check
    server master03.k8s.freedom.org master03.k8s.freedom.org:32080 check
    server worker01.k8s.freedom.org worker01.k8s.freedom.org:32080 check
    server worker02.k8s.freedom.org worker02.k8s.freedom.org:32080 check
    server worker03.k8s.freedom.org worker03.k8s.freedom.org:32080 check

listen tcp-443-ingress-nginx
    mode tcp
    # 默认TCP格式
    # log-format %ci:%cp\ [%t]\ %ft\ %b/%s\ %Tw/%Tc/%Tt\ %B\ %ts\ %ac/%fc/%bc/%sc/%rc\ %sq/%bq
    log-format "HAPROXY-LOG-FORMAT-TCP"--{"client_ip":"%ci","client_port":"%cp","datetime":"%t","frontend_name_transport":"%ft","backend_name":"%b","server_name":"%s","time_wait":"%Tw","time_conn":"%Tc","time_total":"%Tt","server2client_bytes_read":"%B","termination_state":"%ts","action":"%ac","frontend_concurrent_connections":"%fc","backend_concurrent_connections":"%bc","server_concurrent_connections":"%sc","retries":"%rc","srv_queue":"%sq","backend_queue":"%bq"}
    option tcplog
    bind 0.0.0.0:443
    # balance source
    balance roundrobin
    server master01.k8s.freedom.org master01.k8s.freedom.org:30443 check
    server master02.k8s.freedom.org master02.k8s.freedom.org:30443 check
    server master03.k8s.freedom.org master03.k8s.freedom.org:30443 check
    server worker01.k8s.freedom.org worker01.k8s.freedom.org:30443 check
    server worker02.k8s.freedom.org worker02.k8s.freedom.org:30443 check
    server worker03.k8s.freedom.org worker03.k8s.freedom.org:30443 check


listen tcp-6443-kube-apiserver
    mode tcp
    # 默认TCP格式
    # log-format %ci:%cp\ [%t]\ %ft\ %b/%s\ %Tw/%Tc/%Tt\ %B\ %ts\ %ac/%fc/%bc/%sc/%rc\ %sq/%bq
    log-format "HAPROXY-LOG-FORMAT-TCP"--{"client_ip":"%ci","client_port":"%cp","datetime":"%t","frontend_name_transport":"%ft","backend_name":"%b","server_name":"%s","time_wait":"%Tw","time_conn":"%Tc","time_total":"%Tt","server2client_bytes_read":"%B","termination_state":"%ts","action":"%ac","frontend_concurrent_connections":"%fc","backend_concurrent_connections":"%bc","server_concurrent_connections":"%sc","retries":"%rc","srv_queue":"%sq","backend_queue":"%bq"}
    option tcplog
    bind 0.0.0.0:6443
    # balance source
    balance roundrobin
    server master01.k8s.freedom.org master01.k8s.freedom.org:6443 check
    server master02.k8s.freedom.org master02.k8s.freedom.org:6443 check
    server master03.k8s.freedom.org master03.k8s.freedom.org:6443 check