<source>
  @type forward
</source>

<match docker.**>
  @type elasticsearch
  host {{ fluentd_elasticsearch_host }}
  port {{ fluentd_elasticsearch_port }}
  logstash_prefix {{ fluentd_logstash_prefix }}
  logstash_dateformat "{{ fluentd_logstash_dateformat }}"
  logstash_format {{ fluentd_logstash_format }}
  flush_interval {{ fluentd_flush_interval }}
{% if fluented_elasticsearch_auth %}
  user {{ fluented_elasticsearch_username }}
  password {{ fluented_elasticsearch_password }}
{% endif %}
</match>