---
apiVersion: extensions/v1beta1
kind: Ingress
metadata:
  annotations:
    # 在4.x.x版本中必须要加上此注解。
    kubernetes.io/ingress.class: nginx

    nginx.ingress.kubernetes.io/proxy-connect-timeout: "30"
    nginx.ingress.kubernetes.io/proxy-read-timeout: "1800"
    nginx.ingress.kubernetes.io/proxy-send-timeout: "1800"
  labels:
    app: hubble-ui
  name: hubble-ui
  namespace: kube-system
spec:
  rules:
  - host: hubble-ui.k8s.freedom.org
    http:
      paths:
      - backend:
          serviceName: hubble-ui
          servicePort: 80