template {
    source = "{{ consul_template_data_dir }}/{{ item }}.ctmpl"
    destination = "{{ prometheus_config_dir }}/file_sd/{{ item }}.yml"
    command_timeout = "60s"
    perms = 0644
    left_delimiter  = "{{'{{'}}"
    right_delimiter = "{{'}}'}}"
    wait {
        min = "30s"
        max = "120s"
    }
}
