[Unit]
Description=Prometheus Server
Documentation=https://prometheus.io/docs/introduction/overview/
After=network.target

[Service]
Restart=on-failure
ExecStart={{ consul_exporter_bin }}

[Install]
WantedBy=multi-user.target