{
    "registry-mirrors": {{ docker_registry_mirrors | to_json }},
    "insecure-registries": {{ docker_insecure_registries | to_json }},
    "exec-opts": ["native.cgroupdriver={{ docker_cgroupdriver }}"],
    "log-driver": "{{ docker_log_driver }}",
    "log-opts": {
        "fluentd-address": "{{ docker_fluentd_host }}"
   }
}