{
    "registry-mirrors": {{ docker_registry_mirrors | to_json }},
    "insecure-registries": {{ docker_insecure_registries | to_json }},
    "exec-opts": ["native.cgroupdriver={{ docker_cgroupdriver }}"],
    "log-driver": "{{ docker_log_driver }}",
    "log-opts": {
{% for log_opt in docker_log_opts %}
        "{{ log_opt.key }}": "{{ log_opt.value }}"
{%- if not loop.last %},{% endif %}

{% endfor %}
   }
}