{% set domain_name = item %}
$TTL 600
@       IN  SOA dns01.{{ domain_name }}. feedback.{{ domain_name }}. (
        {{ SN }}  ; serial
        1D          ; refresh
        1H          ; retry
        1W          ; expire
        3H )        ; minimum

        NS  ns01.{{ domain_name }}.
        NS  ns02.{{ domain_name }}.
ns01    A   {{ bind_master_ip }}
ns02    A   {{ bind_slave_ip }}


server01.consul     IN      A           192.168.2.1
foreman             IN      A           192.168.2.1
yum                 IN      CNAME       foreman
files               IN      CNAME       foreman
nfs                 IN      CNAME       foreman
jenkins             IN      CNAME       foreman
ansible             IN      CNAME       foreman
katello             IN      CNAME       foreman
zabbix              IN      CNAME       foreman
prometheus          IN      CNAME       foreman
grafana             IN      CNAME       foreman

; foreman主机上部署elasticstack
es                  IN      CNAME       foreman
elastic             IN      CNAME       foreman
elasticsearch       IN      CNAME       foreman
kibana              IN      CNAME       foreman

haproxy             IN      A           192.168.2.2

harbor              IN      A           192.168.2.3
docker              IN      CNAME       harbor

master01.k8s        IN      A           192.168.2.11
master02.k8s        IN      A           192.168.2.12
master03.k8s        IN      A           192.168.2.13
worker01.k8s        IN      A           192.168.2.14
worker02.k8s        IN      A           192.168.2.15
worker03.k8s        IN      A           192.168.2.16

node01.ceph         IN      A           192.168.2.21
node02.ceph         IN      A           192.168.2.22
node03.ceph         IN      A           192.168.2.23

pfsense             IN      A           192.168.2.254
windows             IN      A           192.168.2.253
vcenter             IN      A           192.168.2.252


node01.test         IN      A           192.168.2.101
node02.test         IN      A           192.168.2.102