{% set domain_name = item %}
$TTL 600
@       IN  SOA dns01.{{ domain_name }}. feedback.{{ domain_name }}. (
        {{ SN }}  ; serial
        1D          ; refresh
        1H          ; retry
        1W          ; expire
        3H )        ; minimum

        NS  ns01.{{ domain_name }}.
        NS  ns02.{{ domain_name }}.
ns01    A   {{ bind_master_ip }}
ns02    A   {{ bind_slave_ip }}


foreman             IN      A           192.168.2.1
haproxy             IN      A           192.168.2.2
harbor              IN      A           192.168.2.3
nfs                 IN      A           192.168.2.4
zabbix              IN      A           192.168.2.5
minio               IN      A           192.168.2.6


vcenter             IN      A           192.168.2.252
windows             IN      A           192.168.2.253
pfsense             IN      A           192.168.2.254


; CNAME
;
docker              IN      CNAME       harbor
; nfs.freedom.org规划成文件服务器，所以将常用的大文件放在上面。
file                IN      CNAME       nfs