{% set domain_name = item %}
$TTL 600
@       IN  SOA dns01.{{ domain_name }}. feedback.{{ domain_name }}. (
        {{ SN }}  ; serial
        1D          ; refresh
        1H          ; retry
        1W          ; expire
        3H )        ; minimum

        NS  ns01.{{ domain_name }}.
        NS  ns02.{{ domain_name }}.
ns01    A   {{ bind_master_ip }}
ns02    A   {{ bind_slave_ip }}


foreman             IN      A           192.168.2.1
nfs                 IN      CNAME       foreman
jenkins             IN      CNAME       foreman
harbor              IN      CNAME       foreman

haproxy             IN      A           192.168.2.2


pfsense             IN      A           192.168.2.254
windows             IN      A           192.168.2.253
vcenter             IN      A           192.168.2.252