{% set domain_name = item %}
$TTL 600
@       IN  SOA dns01.{{ domain_name }}. feedback.{{ domain_name }}. (
        {{ SN }}  ; serial
        1D          ; refresh
        1H          ; retry
        1W          ; expire
        3H )        ; minimum

        NS  ns01.{{ domain_name }}.
        NS  ns02.{{ domain_name }}.
ns01    A   {{ bind_master_ip }}
ns02    A   {{ bind_slave_ip }}

master01        IN      A           192.168.2.11
master02        IN      A           192.168.2.12
master03        IN      A           192.168.2.13
worker01        IN      A           192.168.2.14
worker02        IN      A           192.168.2.15
worker03        IN      A           192.168.2.16

; 安装k8s-v1.22.2高可用集群时，前端有一个haproxy，而安装此版本时失败了，之前安装v1.16.2时则没有，所以使用域名替代ip。
; 最后发现，安装失败的原因是docker中配置的logdriver的服务没有安装。
apiserver       IN      A           192.168.2.2

; 配置泛域名解析，为k8s集群7层导流，但是这样会导致容器访问不了外网，因为在/etc/resolv.conf文件中，有一个search k8s.freedom.org配置，
; 这样就会导致全部走泛解析，所以先取消。
jenkins               IN      A           192.168.2.2
rancher               IN      A           192.168.2.2
hubble-ui             IN      A           192.168.2.2

