{% set domain_name = item %}
$TTL 600
@       IN  SOA dns01.{{ domain_name }}. feedback.{{ domain_name }}. (
        {{ SN }}  ; serial
        1D          ; refresh
        1H          ; retry
        1W          ; expire
        3H )        ; minimum

        NS  ns01.{{ domain_name }}.
        NS  ns02.{{ domain_name }}.
ns01    A   {{ bind_master_ip }}
ns02    A   {{ bind_slave_ip }}

haproxy         IN      A           192.168.4.1
master01        IN      A           192.168.4.2
worker01        IN      A           192.168.4.3
worker02        IN      A           192.168.4.4

; haproxy转发k8s的apiserver，所以地址写haproxy即可。
apiserver       IN      A           192.168.4.1

; 所有的ingress入口域名均指向haproxy服务器。
rancher         IN      A           192.168.4.1
consul-web      IN      A           192.168.4.1
consul-server   IN      A           192.168.4.1

; istio流量走istio-ingressgateway入口。
productpage.default.istio   IN      A           192.168.4.1