---
apiVersion: v1
kind: ServiceAccount
metadata:
  name: storageclass-rbd-{{ item.name }}
  namespace: {{ storagecalss_namespace }}


---
kind: ClusterRole
apiVersion: rbac.authorization.k8s.io/v1
metadata:
  name: storageclass-rbd-{{ item.name }}
  namespace: {{ storagecalss_namespace }}
rules:
  - apiGroups: [""]
    resources: ["persistentvolumes"]
    verbs: ["get", "list", "watch", "create", "delete"]
  - apiGroups: [""]
    resources: ["persistentvolumeclaims"]
    verbs: ["get", "list", "watch", "update"]
  - apiGroups: ["storage.k8s.io"]
    resources: ["storageclasses"]
    verbs: ["get", "list", "watch"]
  - apiGroups: [""]
    resources: ["events"]
    verbs: ["create", "update", "patch"]
  - apiGroups: [""]
    resources: ["services"]
    resourceNames: ["kube-dns","coredns"]
    verbs: ["list", "get"]


---
kind: ClusterRoleBinding
apiVersion: rbac.authorization.k8s.io/v1
metadata:
  name: storageclass-rbd-{{ item.name }}
  namespace: {{ storagecalss_namespace }}
subjects:
  - kind: ServiceAccount
    name: storageclass-rbd-{{ item.name }}
    namespace: {{ storagecalss_namespace }}
roleRef:
  kind: ClusterRole
  name: rbd-infra
  apiGroup: rbac.authorization.k8s.io


---
apiVersion: rbac.authorization.k8s.io/v1
kind: Role
metadata:
  name: storageclass-rbd-{{ item.name }}
  namespace: {{ storagecalss_namespace }}
rules:
- apiGroups: [""]
  resources: ["secrets"]
  verbs: ["get"]
- apiGroups: [""]
  resources: ["endpoints"]
  verbs: ["get", "list", "watch", "create", "update", "patch"]


---
apiVersion: rbac.authorization.k8s.io/v1
kind: RoleBinding
metadata:
  name: storageclass-rbd-{{ item.name }}
  namespace: {{ storagecalss_namespace }}
roleRef:
  apiGroup: rbac.authorization.k8s.io
  kind: Role
  name: rbd-infra
subjects:
  - kind: ServiceAccount
    name: storageclass-rbd-{{ item.name }}
    namespace: {{ storagecalss_namespace }}



---
apiVersion: apps/v1
kind: Deployment
metadata:
  name: storageclass-rbd-{{ item.name }}
  namespace: {{ storagecalss_namespace }}
spec:
  selector:
    matchLabels:
      app: storageclass-rbd-{{ item.name }}
  replicas: 1
  strategy:
    type: Recreate
  template:
    metadata:
      labels:
        app: storageclass-rbd-{{ item.name }}
    spec:
      containers:
      - name: storageclass-rbd-{{ item.name }}
        image: {{ storagecalss_rbd_image }}
        env:
        - name: PROVISIONER_NAME
          value: ceph.com/storageclass-rbd-{{ item.name }}
      serviceAccount: storageclass-rbd-{{ item.name }}



---
apiVersion: storage.k8s.io/v1
kind: StorageClass
metadata:
  name: storageclass-rbd-{{ item.name }}
  namespace: {{ storagecalss_namespace }}
provisioner: ceph.com/storageclass-rbd-{{ item.name }}
parameters:
  monitors: node01.ceph.freedom.org:6789, node02.ceph.freedom.org:6789, node03.ceph.freedom.org:6789
  adminId: admin
  adminSecretName: storageclass-rbd-secret-{{ item.name }}
  adminSecretNamespace: {{ storagecalss_namespace }}
  pool: k8s
  userId: admin
  userSecretName: storageclass-rbd-secret-{{ item.name }}
  fsType: xfs
  imageFormat: "2"
  imageFeatures: "layering"
allowVolumeExpansion: true
reclaimPolicy: Retain


---
apiVersion: v1
kind: Secret
metadata:
  name: storageclass-rbd-secret-{{ item.name }}
  namespace: {{ storagecalss_namespace }}
type: "kubernetes.io/rbd"
data:
  key: QVFDbnlWNWhoMFpBRWhBQUVsL3AyWStkbGRpRzFucDJrUG0wbkE9PQ==