---
{% for instance in item.instances %}
- name: redis-cluster-{{ instance.host }}
  hosts: {{ instance.host }}
  user: root

  tasks:
    - name: 'copy redis-port file'
      copy:
        src: /usr/local/bin/redis-port
        dest: /usr/local/bin/redis-port
        mode: "0755"

    - name: "create dumping redis cluster rbd files shell script"
      copy:
        content: |
          #!/bin/bash

          source /etc/profile

          is_redis_running=`redis-cli -c -p {{ instance.port }} cluster nodes`
          is_redis_running=$?

          is_master=`redis-cli -c -p {{ instance.port }} cluster nodes | grep -w 'myself' | grep -w 'master' | wc -l`

          if [ $is_redis_running -ne 0 ]; then
              echo 'The redis instance is not running.'
              exit 255
          fi

          if [ $is_master -eq 0 ]; then
              echo 'The redis instance is slave role. Skip the dumping rbd file process.'

          elif [ $is_master -ne 1 ]; then
              echo 'Something unexpected happened, please check it out.'
              exit 254

          elif [ $is_master -eq 1 ]; then
            echo 'The redis instance is master role. The dumping rbd file process is going on.'
            redis-port dump --from {{ instance.host }}:{{ instance.port }} --output /home/{{ instance.host }}-{{ instance.port }}.rdb
          fi
        dest: /usr/local/bin/dump_rdb_file_{{ instance.port }}.sh
        mode: "0755"

    - name: 'dump redis cluster rbd files'
      shell: sh /usr/local/bin/dump_rdb_file_{{ instance.port }}.sh
      register: dump_redis_cluster_rdb_files_result

    - name: 'debug dump redis cluster rbd files'
      debug:
        var: dump_redis_cluster_rdb_files_result.stdout_lines


{% endfor %}

