/data/k8s-pvc-nfs/infra 192.168.2.11/32(insecure,rw,sync,no_root_squash) \
                        192.168.2.12/32(insecure,rw,sync,no_root_squash) \
                        192.168.2.13/32(insecure,rw,sync,no_root_squash) \
                        192.168.2.14/32(insecure,rw,sync,no_root_squash) \
                        192.168.2.15/32(insecure,rw,sync,no_root_squash) \
                        192.168.2.16/32(insecure,rw,sync,no_root_squash)

/data/k8s-pvc-nfs/mysql 192.168.2.11/32(insecure,rw,sync,no_root_squash) \
                        192.168.2.12/32(insecure,rw,sync,no_root_squash) \
                        192.168.2.13/32(insecure,rw,sync,no_root_squash) \
                        192.168.2.14/32(insecure,rw,sync,no_root_squash) \
                        192.168.2.15/32(insecure,rw,sync,no_root_squash) \
                        192.168.2.16/32(insecure,rw,sync,no_root_squash)


/data/k8s-pvc-nfs/redis 192.168.2.11/32(insecure,rw,sync,no_root_squash) \
                        192.168.2.12/32(insecure,rw,sync,no_root_squash) \
                        192.168.2.13/32(insecure,rw,sync,no_root_squash) \
                        192.168.2.14/32(insecure,rw,sync,no_root_squash) \
                        192.168.2.15/32(insecure,rw,sync,no_root_squash) \
                        192.168.2.16/32(insecure,rw,sync,no_root_squash)