/data/k8s-pvc-nfs/bj/infra 192.168.4.2/32(insecure,rw,sync,no_root_squash) \
                           192.168.4.3/32(insecure,rw,sync,no_root_squash) \
                           192.168.4.4/32(insecure,rw,sync,no_root_squash)


/data/k8s-pvc-nfs/bj/mysql 192.168.4.2/32(insecure,rw,sync,no_root_squash) \
                           192.168.4.3/32(insecure,rw,sync,no_root_squash) \
                           192.168.4.4/32(insecure,rw,sync,no_root_squash)

/data/k8s-pvc-nfs/bj/redis 192.168.4.2/32(insecure,rw,sync,no_root_squash) \
                           192.168.4.3/32(insecure,rw,sync,no_root_squash) \
                           192.168.4.4/32(insecure,rw,sync,no_root_squash)

/data/k8s-pvc-nfs/sh/infra 192.168.5.2/32(insecure,rw,sync,no_root_squash) \
                           192.168.5.3/32(insecure,rw,sync,no_root_squash) \
                           192.168.5.4/32(insecure,rw,sync,no_root_squash) \

/data/k8s-pvc-nfs/sh/mysql 192.168.5.2/32(insecure,rw,sync,no_root_squash) \
                           192.168.5.3/32(insecure,rw,sync,no_root_squash) \
                           192.168.5.4/32(insecure,rw,sync,no_root_squash)

/data/k8s-pvc-nfs/sh/redis 192.168.5.2/32(insecure,rw,sync,no_root_squash) \
                           192.168.5.3/32(insecure,rw,sync,no_root_squash) \
                           192.168.5.4/32(insecure,rw,sync,no_root_squash)


/data/k8s-pvc-nfs/gd/infra 192.168.6.2/32(insecure,rw,sync,no_root_squash) \
                           192.168.6.3/32(insecure,rw,sync,no_root_squash) \
                           192.168.6.4/32(insecure,rw,sync,no_root_squash)

/data/k8s-pvc-nfs/gd/mysql 192.168.6.2/32(insecure,rw,sync,no_root_squash) \
                           192.168.6.3/32(insecure,rw,sync,no_root_squash) \
                           192.168.6.4/32(insecure,rw,sync,no_root_squash)

/data/k8s-pvc-nfs/gd/redis 192.168.6.2/32(insecure,rw,sync,no_root_squash) \
                           192.168.6.3/32(insecure,rw,sync,no_root_squash) \
                           192.168.6.4/32(insecure,rw,sync,no_root_squash)

/data/k8s-pvc-nfs/hk/infra 192.168.7.2/32(insecure,rw,sync,no_root_squash) \
                           192.168.7.3/32(insecure,rw,sync,no_root_squash) \
                           192.168.7.4/32(insecure,rw,sync,no_root_squash)

/data/k8s-pvc-nfs/hk/mysql 192.168.7.2/32(insecure,rw,sync,no_root_squash) \
                           192.168.7.3/32(insecure,rw,sync,no_root_squash) \
                           192.168.7.4/32(insecure,rw,sync,no_root_squash)

/data/k8s-pvc-nfs/hk/redis 192.168.7.2/32(insecure,rw,sync,no_root_squash) \
                           192.168.7.3/32(insecure,rw,sync,no_root_squash) \
                           192.168.7.4/32(insecure,rw,sync,no_root_squash)