global
    log         127.0.0.1 local2 info
    chroot      /var/lib/haproxy
    pidfile     /var/run/haproxy.pid
    maxconn     65535
    user        haproxy
    group       haproxy
    daemon
    stats       socket /var/lib/haproxy/stats
    tune.ssl.default-dh-param   2048

defaults
    mode                    http
    log                     global
    option                  httplog
    option                  dontlognull
    option                  http-server-close
    option                  forwardfor  except 127.0.0.0/8
    option                  redispatch
    retries                 3
    timeout http-request    10s
    timeout queue           1m
    timeout connect         10s
    timeout client          1m
    timeout server          1m
    timeout http-keep-alive 10s
    timeout check           3s
    maxconn                 65535
    compression algo gzip
    compression type text/html text/plain text/css application/javascript application/json application/xml


# 2020/09/27 -- 监听stats，设置为固定即可。
listen tcp-stats
    bind 0.0.0.0:5001
    mode http
    # 默认HTTP格式
    # log-format %ci:%cp\ [%t]\ %ft\ %b/%s\ %Tq/%Tw/%Tc/%Tr/%Tt\ %ST\ %B\ %CC\ %CS\ %tsc\ %ac/%fc/%bc/%sc/%rc\ %sq/%bq\ %hr\ %hs\ %{+Q}r
    log-format "HAPROXY-LOG-FORMAT-HTTP"--{"client_ip":"%ci","client_port":"%cp","datetime":"%t","frontend_name_transport":"%ft","backend_name":"%b","server_name":"%s","time_request":"%Tq","time_wait":"%Tw","time_conn":"%Tc","time_reponse","%Tr","time_total":"%Tt","status_code","%ST","server2client_bytes_read":"%B","captured_request_cookie","%CC","captured_response_cookie":"%CS","termination_state_with_cooke_status":"%tsc","termination_state":"%ts","action":"%ac","frontend_concurrent_connections":"%fc","backend_concurrent_connections":"%bc","server_concurrent_connections":"%sc","retries":"%rc","srv_queue":"%sq","backend_queue":"%bq","captured_request_headers":"%hr",http_request:"%r"}
    stats refresh 30s
    stats uri /stats
    stats realm Private lands
    stats auth freedom:Haproxy007@freedom.org
    stats hide-version



listen tcp-80-ingress-nginx
    mode tcp
    # 默认TCP格式
    # log-format %ci:%cp\ [%t]\ %ft\ %b/%s\ %Tw/%Tc/%Tt\ %B\ %ts\ %ac/%fc/%bc/%sc/%rc\ %sq/%bq
    log-format "HAPROXY-LOG-FORMAT-TCP"--{"client_ip":"%ci","client_port":"%cp","datetime":"%t","frontend_name_transport":"%ft","backend_name":"%b","server_name":"%s","time_wait":"%Tw","time_conn":"%Tc","time_total":"%Tt","server2client_bytes_read":"%B","termination_state":"%ts","action":"%ac","frontend_concurrent_connections":"%fc","backend_concurrent_connections":"%bc","server_concurrent_connections":"%sc","retries":"%rc","srv_queue":"%sq","backend_queue":"%bq"}
    option tcplog
    bind 0.0.0.0:80
    balance source
    server master.k8s.freedom.org master.k8s.freedom.org:30573 check
    server worker01.k8s.freedom.org worker01.k8s.freedom.org:30573 check
    server worker02.k8s.freedom.org worker02.k8s.freedom.org:30573 check
    server worker03.k8s.freedom.org worker03.k8s.freedom.org:30573 check

listen tcp-443-ingress-nginx
    mode tcp
    # 默认TCP格式
    # log-format %ci:%cp\ [%t]\ %ft\ %b/%s\ %Tw/%Tc/%Tt\ %B\ %ts\ %ac/%fc/%bc/%sc/%rc\ %sq/%bq
    log-format "HAPROXY-LOG-FORMAT-TCP"--{"client_ip":"%ci","client_port":"%cp","datetime":"%t","frontend_name_transport":"%ft","backend_name":"%b","server_name":"%s","time_wait":"%Tw","time_conn":"%Tc","time_total":"%Tt","server2client_bytes_read":"%B","termination_state":"%ts","action":"%ac","frontend_concurrent_connections":"%fc","backend_concurrent_connections":"%bc","server_concurrent_connections":"%sc","retries":"%rc","srv_queue":"%sq","backend_queue":"%bq"}
    option tcplog
    bind 0.0.0.0:443
    balance source
    server master.k8s.freedom.org master.k8s.freedom.org:31933 check
    server worker01.k8s.freedom.org worker01.k8s.freedom.org:31933 check
    server worker02.k8s.freedom.org worker02.k8s.freedom.org:31933 check
    server worker03.k8s.freedom.org worker03.k8s.freedom.org:31933 check


listen tcp-6443-kube-apiserver
    mode tcp
    # 默认TCP格式
    # log-format %ci:%cp\ [%t]\ %ft\ %b/%s\ %Tw/%Tc/%Tt\ %B\ %ts\ %ac/%fc/%bc/%sc/%rc\ %sq/%bq
    log-format "HAPROXY-LOG-FORMAT-TCP"--{"client_ip":"%ci","client_port":"%cp","datetime":"%t","frontend_name_transport":"%ft","backend_name":"%b","server_name":"%s","time_wait":"%Tw","time_conn":"%Tc","time_total":"%Tt","server2client_bytes_read":"%B","termination_state":"%ts","action":"%ac","frontend_concurrent_connections":"%fc","backend_concurrent_connections":"%bc","server_concurrent_connections":"%sc","retries":"%rc","srv_queue":"%sq","backend_queue":"%bq"}
    option tcplog
    bind 0.0.0.0:6443
    balance source
    server master01.k8s.freedom.org master01.k8s.freedom.org:6443 check
    server master01.k8s.freedom.org master02.k8s.freedom.org:6443 check
    server master01.k8s.freedom.org master03.k8s.freedom.org:6443 check