{
    "start_join": [
{% for item in consul_servers %}
    {%- if loop.last %}
       "{{ item }}"
    {% else %} 
       "{{ item }}",
    {% endif %}
{% endfor %}
    ],
    "datacenter": "{{ consul_datacenter }}",
    "data_dir": "{{ consul_agent_data_dir }}",
{% if consul_agent_ipaddr is defined %}
    "bind_addr": "{{ consul_agent_ipaddr }}",
{% else %}
    "bind_addr": "{{ ansible_default_ipv4.address }}",
{% endif %}
    "client_addr": "0.0.0.0",
    "leave_on_terminate": true,
    "rejoin_after_leave": true,
    "services": [
{% for item in consul_agent_items.services %}
        {
            "name": "{{ item.name }}",
            "port": {{ item.port }},
            "tags": [
                "{{ item.name }}"
            ]
        {%- if loop.last %}
        }
        {% else %}
        },
        {% endif %}
{% endfor %}
    ]
}
