#
# DHCP Server Configuration file.
#   see /usr/share/doc/dhcp*/dhcpd.conf.example
#   see dhcpd.conf(5) man page
#
ddns-update-style interim;
ignore client-updates;
allow booting;
allow bootp;

subnet 192.168.2.0 netmask 255.255.255.0 {
        filename                "pxelinux.0";
        next-server             192.168.2.1;
        option routers          192.168.2.254;
        option subnet-mask      255.255.255.0;
        option domain-name      "freedom.org";
        option domain-name-servers  192.168.2.1, 192.168.2.2;
        range dynamic-bootp 192.168.2.100 192.168.2.200;
        default-lease-time 3600;
        max-lease-time 7200;
}