[Unit]
Description=hubble service
After=network.target
Documentation=https://docs.cilium.io

[Service]
LimitNOFILE=100000
Type=simple
User=root
Group=root
# 需要增加环境变量，让进程可以读到kubernetes集群信息。
Environment="KUBECONFIG=/etc/kubernetes/admin.conf"
ExecStart=/usr/local/bin/cilium hubble port-forward
TimeoutSec=30s
KillSignal=SIGINT
Restart=on-failure
RestartSec=10s

[Install]
WantedBy=multi-user.target