{{ define "email.html" }}
{{- if gt (len .Alerts.Firing) 0 -}}

[{{ .Status | toUpper }}:{{ .Alerts.Firing | len }}]
{{ range $1, $alert := .Alerts }}
<pre>
告警节点：{{ index $alert.Labels "instance" }}
告警类型：{{ index $alert.Labels "alertname" }}
告警级别: {{ index $alert.Labels "severity" }}
告警主题：{{ index $alert.Annotations "summary" }}
告警详情：{{ index $alert.Annotations "description" }}
告警时间：{{ $alert.StartsAt.Local }}

</pre>
{{ end }}
{{ end }}


{{- if gt (len .Alerts.Resolved) 0 -}}

[{{ .Status | toUpper}}:{{ .Alerts.Firing | len }}]
{{ range $i, $alert := .Alerts }}
<pre>
恢复节点：{{ index $alert.Labels "instance" }}
恢复类型：{{ index $alert.Labels "alertname" }}
恢复级别: {{ index $alert.Labels "severity" }}
恢复主题：{{ index $alert.Annotations "summary" }}
恢复详情：{{ index $alert.Annotations "description" }}
告警时间：{{ $alert.StartsAt.Local }}
恢复时间：{{ $alert.EndsAt.Local }}

</pre>
{{ end }}
{{ end }}
{{- end }}